<!DOCTYPE html>
<html>
<head>
    <title>
        "KontonisAG - Home";
    </title>
</head>
<body
    <h2 style="font-size:30px;">Kontonis AG</h2>
    <p>Links</p> <br/>

    <a href="https://localhost:44353/Artikels"> Artikel</a> <br/>
    <a href="https://localhost:44353/Bestelldetails"> Bestelldetails</a> <br/>
    <a href="https://localhost:44353/Bestellungens"> Bestellungen</a> <br/>
    <a href="https://localhost:44353/Kategoriens"> Kategorie</a> <br/>
    <a href="https://localhost:44353/Kundens"> Kunden</a> <br/>
    <a href="https://localhost:44353/Lieferantens"> Lieferantens</a> <br/>
    <a href="https://localhost:44353/Personals"> Personal</a> <br/>
    <a href="https://localhost:44353/Versandfirmen"> Versandfirmen</a>
</body>
</html>